#site-nav {
  -webkit-backdrop-filter: var(--blur);
  backdrop-filter: var(--blur);
  background-color: var(--nav-bg);
  border-radius: 26px;
  box-shadow: var(--edge-highlight), 0px 12px 24px -16px rgba(0, 0, 0, 0.5);
  margin: 1rem auto;
  max-width: min(calc(var(--content-width) + 10rem), 90%);
  position: sticky;
  top: 1rem;
  z-index: 999;

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      display: inline-flex;
    }

    a {
      border-radius: 999px;
      color: var(--fg-muted-4);
      padding: 0.325rem 0.75rem;
      text-decoration: none;
      transition: var(--transition);

      &:hover {
        background-color: var(--fg-muted-1);
        box-shadow: var(--edge-highlight);
        color: var(--primary-color);
        text-decoration: none;
      }

      &:active {
        transform: scale(var(--active));
      }
    }

    #main-content {
      background: var(--bg-color);
      position: absolute;
      transform: translateY(-200%);
      z-index: 999;

      &:focus {
        transform: translateY(0);
      }
    }

    #home {
      position: relative;
      margin-right: 0.625rem;

      &::after {
        background-color: var(--fg-muted-2);
        content: "";
        height: 110%;
        position: absolute;
        right: -0.5rem;
        top: 0;
        width: 1px;
      }

      a {
        font-weight: 800;
        color: var(--fg-muted-5);

        &:hover {
          color: var(--primary-color);
        }
      }
    }

    #feed a {
      padding: 0.325rem 0.625rem;

      svg {
        vertical-align: -0.125em;
      }

      span {
        display: none;
      }
    }
  }
}
