#post-nav {
  display: flex;

  .post-nav-item {
    width: 50%;
    text-decoration: none;

    &:hover .post-title {
      color: var(--primary-color);
    }

    &:nth-child(2n + 1) {
      padding-left: 0;
      padding-right: 1rem;
    }

    &:nth-child(2n) {
      text-align: right;
      padding-left: 1rem;
      padding-right: 0;
    }

    .nav-arrow {
      font-weight: normal;
      color: var(--fg-muted-5);
      margin-bottom: 0.5rem;
    }

    .post-title {
      color: var(--fg-color);
      transition: var(--transition);
    }
  }
}
