#qrcode {
  background-color: white;
  float: right;
  height: 155px;
  margin: 3rem 0 0 1rem;
  padding: 15px;
  width: 155px;

  @media only screen and (max-width: 720px) {
    & {
      display: none;
    }
  }
}
