.statement-container {
  margin: 1rem 0 1rem;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: var(--rounded-corner);
  box-shadow: var(--edge-highlight);

  * {
    margin: 0;
  }

  p,
  ul,
  ol {
    margin: 0.5rem 0 0.5rem;
  }

  .big {
    font-size: 1.5rem;
  }

  &.archive {
    background-color: var(--purple-bg);
    color: var(--purple-fg);
  }

  &.disclaimer {
    background-color: var(--red-bg);
    color: var(--red-fg);
  }

  &.trigger {
    background-color: var(--yellow-bg);
    color: var(--yellow-fg);
  }
}
