{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>

<p>{{ section.description }}</p>

<small>
  <a class="link-page" href="{{ get_url(path='tags') }}">Filter by tag</a>
  <br />
  From newest to oldest ↓
</small>

<div class="blog-list">
{% for page in section.pages %}
<article>
  <h3>
    <a class="link-page" href="{{ page.permalink | safe }}">{{ page.title }}</a>
  </h3>
  {%- if page.description %}
    <p>{{ page.description }}</p>
  {%- endif %}
  {%- if page.date %}
    <small>
      <time datetime="{{ page.date | date(format='%+') }}" pubdate>
        {{- page.date | date(format=config.extra.date_format) -}}
      </time>
      {%- if page.authors %}
        <span>•</span>
        <span>Author: {{ page.authors[0] }}</span>
      {%- endif %}
      {%- if page.taxonomies %}
        {%- for name, taxon in page.taxonomies %}
        <span>•</span>
        <ul class="tags">
          {%-for item in taxon %}
          <li>
            <a class="tag" href="{{ get_taxonomy_url(kind=name, name=item) }}">{{ item }}</a>
          </li>
          {%- endfor %}
        </ul>
        {%- endfor %}
      {%- endif %}
    </small>
  {%- endif %}
</article>
<hr>
{% endfor %}
</div>
{% endblock content %}
